:root {
  --color-off-white: #fefdfd; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #fefdfd;
  display: flex;
  align-items: stretch; }

table, td, th {
  border: 1px solid #232323; }

table {
  margin: 1.4rem auto;
  padding: 7vh 0;
  border-collapse: collapse; }

.font {
  font-family: "Josefin Sans", sans-serif; }

.default-cursor {
  cursor: default; }

.center {
  text-align: center; }

.button {
  cursor: pointer;
  border-radius: 50rem;
  outline: none;
  margin: 0 auto;
  background-color: transparent; }

.color {
  color: var(--color-off-white);
  background-color: #1b19cd; }

.border-color {
  border-color: #1b19cd; }

.off-color {
  color: #7c7efb; }

#current-day-info {
  width: 34%;
  min-height: 100vh; }
  #current-day-info #app-name-landscape {
    font-size: 6.2vh;
    padding: 9vh 0 1vh;
    border-bottom: 1px solid; }
  #current-day-info h2 {
    font-size: 6vh;
    font-weight: 300;
    margin: 0 0 3vh;
    padding-top: 3vh; }
  #current-day-info h1 {
    font-size: 6.8vh;
    font-weight: 600;
    margin: 4vh 0; }
  #current-day-info #theme-landscape {
    display: block;
    padding: 1.8vh 4.2vh;
    color: var(--color-off-white);
    border: 3px solid var(--color-off-white);
    font-size: 2.4vh;
    transition: all .4s; }
    #current-day-info #theme-landscape:hover {
      background-color: #fff;
      opacity: 0.4;
      color: #000; }

#calendar {
  width: 66%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around; }
  #calendar #app-name-portrait {
    display: none; }
  #calendar #theme-portrait {
    display: none; }
  #calendar thead tr:first-child th div {
    display: flex;
    align-items: center;
    justify-content: center; }
  #calendar tbody td {
    height: 5.2vw;
    width: 5.2vw;
    font-size: 0.8vw;
    font-weight: 600;
    vertical-align: top;
    padding: 0.5vw;
    transition: font-size .3s ease; }
    #calendar tbody td:hover {
      font-size: 1.2vw; }
  #calendar h3 {
    font-size: 2vw;
    font-weight: 700;
    padding: 0 2vw;
    display: inline-block; }
  #calendar h4 {
    padding: 0.8vh 0 0.2vh;
    font-size: 1.4vw;
    font-weight: 300; }
  #calendar .weekday {
    font-size: 1.7vw;
    font-weight: 300;
    padding: .8rem 0 .5rem;
    border-bottom: 1px solid #fff !important; }
  #calendar .icon {
    font-size: 1.2vw;
    cursor: pointer;
    transition: opacity .4s; }
    #calendar .icon:hover {
      opacity: 0.6; }
