:root {
  --color-off-white: #fefdfd; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #fefdfd;
  display: flex;
  align-items: stretch; }

.font {
  font-family: "Josefin Sans", sans-serif; }

.default-cursor {
  cursor: default; }

.center {
  text-align: center; }

.button {
  cursor: pointer;
  border-radius: 50rem;
  outline: none;
  margin: 0 auto;
  background-color: transparent; }

.color {
  color: var(--color-off-white);
  background-color: #1b19cd; }

.border-color {
  border-color: #1b19cd; }

.off-color {
  color: #7c7efb; }

#current-day-info {
  width: 34%;
  min-height: 100vh; }
  #current-day-info #app-name-landscape {
    font-size: 6.2vh;
    padding: 9vh 0 1vh;
    border-bottom: 1px solid; }
  #current-day-info h2 {
    font-size: 6vh;
    font-weight: 300;
    margin: 0 0 3vh;
    padding-top: 3vh; }
  #current-day-info h1 {
    font-size: 6.8vh;
    font-weight: 600;
    margin: 4vh 0; }
  #current-day-info #theme-landscape {
    display: block;
    padding: 1.8vh 4.2vh;
    color: var(--color-off-white);
    border: 3px solid var(--color-off-white);
    font-size: 2.4vh;
    transition: all .4s; }
    #current-day-info #theme-landscape:hover {
      background-color: #fff;
      opacity: 0.4;
      color: #000; }
