:root {
    --color-off-white: #fefdfd;
    --color-delete-red: #d71c1f;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Josefin Sans", sans-serif;
    background-color: var(--color-off-white);
    display: flex;
    align-items: stretch;
}

.background-text {
    position: absolute;
    opacity: 0.22;
    font-size: 20vw;
    z-index: -1;
    margin: 0;
    top: 50%;
    left: 56%;
    transform: translate(-50%, -50%);
}

h4.background-text {
    top: 62%;
    font-size: 7vw;
}

table, td, th {
    border: 1px solid #9c9c9c;
}

table {
    margin: 1.4rem auto;
    padding: 7vh 0;
    border-collapse: collapse;
}

dialog {
    height: 100%;
    width: 100%;
    border: none;
    background-color: rgba(29, 29, 29, 0.85);
    position: fixed;
}

sup {
    font-size: 50%;
}

.font {
    font-family: "Josefin Sans", sans-serif;
}

.default-cursor {
    cursor: default;
}

.center {
    text-align: center;
}

.button {
    cursor: pointer;
    border-radius: 50rem;
    outline: none;
    margin: 0 auto;
    background-color: transparent;
}

.color {
    color: var(--color-off-white);
    background-color: #1b19cd;
}

.border-color {
    border-color: #1b19cd;
}

.off-color {
    color: #7c7efb;
}

@media(orientation: landscape) {
    .tooltip {
        &:hover {
            cursor: help;
            position: relative;

            span {
                font-size: 1vw;
                display: block;
                padding: .6rem;
                white-space: pre-wrap;
                width: 12vw;
                z-index: 100;
                background-color: #ededed;
                color: #000;
                border-radius: .6rem;
                left: 2vw;
                top: 4vw;
                position: absolute;
            }
        }
    }
}

.tooltip span {
    display: none;
}