:root {
    --color-off-white: #fefdfd;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Josefin Sans", sans-serif;
    background-color: #fefdfd;
    display: flex;
    align-items: stretch;
}

table, td, th {
    border: 1px solid #232323;
}

table {
    margin: 1.4rem auto;
    padding: 7vh 0;
    border-collapse: collapse;
}

dialog {
    height: 100%;
    width: 100%;
    border: none;
    background-color: rgba(29, 29, 29, 0.85);
    position: fixed;
}

.font {
    font-family: "Josefin Sans", sans-serif;
}

.default-cursor {
    cursor: default;
}

.center {
    text-align: center;
}

.button {
    cursor: pointer;
    border-radius: 50rem;
    outline: none;
    margin: 0 auto;
    background-color: transparent;
}

.color {
    color: var(--color-off-white);
    background-color: #1b19cd;
}

.border-color {
    border-color: #1b19cd;
}

.off-color {
    color: #7c7efb;
}

.tooltip {
    &:hover {
        cursor: help;
        position: relative;

        span {
            font-size: 1vw;
            display: block;
            padding: .6rem;
            white-space: pre-wrap;
            width: 12vw;
            z-index: 100;
            background-color: #ededed;
            color: #000;
            border-radius: .6rem;
            left: 2vw;
            top: 4vw;
            position: absolute;
        }
    }
}

.tooltip span {
    display: none;
}