:root {
    --color-off-white: #fefdfd;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Josefin Sans", sans-serif;
    background-color: #fefdfd;
    display: flex;
    align-items: stretch;
}

table, td, th {
    border: 1px solid #232323;
}

table {
    margin: 1.4rem auto;
    padding: 7vh 0;
    border-collapse: collapse;
}

.font {
    font-family: "Josefin Sans", sans-serif;
}

.default-cursor {
    cursor: default;
}

.center {
    text-align: center;
}

.button {
    cursor: pointer;
    border-radius: 50rem;
    outline: none;
    margin: 0 auto;
    background-color: transparent;
}

.color {
    color: var(--color-off-white);
    background-color: #1b19cd;
}

.border-color {
    border-color: #1b19cd;
}

.off-color {
    color: #7c7efb;
}