#calendar {
    width: 66%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    #app-name-portrait {
        display: none;
    }

    #theme-portrait {
        display: none;
    }

    thead tr:first-child th div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    tbody td {
        height: 5.2vw;
        width: 5.2vw;
        font-size: 0.8vw;
        font-weight: 600;
        vertical-align: top;
        padding: 0.5vw;
        transition: font-size .3s ease;

        &:hover {
            font-size: 1.2vw;
        }
    }

    h3 {
        font-size: 2vw;
        font-weight: 700;
        padding: 0 2vw;
        display: inline-block;
    }

    h4 {
        padding: 0.8vh 0 0.2vh;
        font-size: 1.4vw;
        font-weight: 300;
    }

    .weekday {
        font-size: 1.7vw;
        font-weight: 300;
        padding: .8rem 0 .5rem;
        border-bottom: 1px solid #fff !important;
    }

    .icon {
        font-size: 1.2vw;
        cursor: pointer;
        transition: opacity .4s;

        &:hover {
            opacity: 0.6;
        }
    }

    #current-day {
        background-color: #e1e1e1;
    }

    img {
        width: 3.8vw;
        vertical-align: top;
        position: relative;
        top: 0.5vw;
    }
}