#calendar {
    tbody {
        tr {
            td[class*="color"] {
                border-right: 1px solid #fff;

                &:first-child {
                    border-left-color: inherit;
                }

                &:last-child {
                    border-right-color: inherit;
                }
            }

            &:nth-child(5) {
                
                td[class*="color"] {
                    border-bottom-color: #fff;
                }
            }

            &:last-child {
                td[class*="color"] {
                    border-bottom-color: inherit;
                }
            }
        }

        .prev-month-last-day:not(:last-child) {
            border-right: 1px solid #000 !important;
        }
    }
}