.popup {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48vw;
    margin: 22vh auto 0;
    background-color: var(--color-off-white);
    border-radius: 1rem;
}

#fav-color {
    h4 {
        margin: 3.2rem 0 1.8rem;
        font-size: calc(1.2rem + 1.6vw);
        font-weight: 300;
        padding: 0 2vw .2rem;
        border-bottom: 1px solid #222;
    }

    #color-options {
        width: 84%;
        margin: 0 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        h5 {
            display: inline;
            margin: .8rem 0 1.2rem;
            font-size: calc(.6rem + 0.6vw);
            font-weight: 500;
        }

        .color-option {
            margin: 0.4vw;
            width: 5vw;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            .color-preview {
                width: calc(1.6rem + 1.7vw);
                height: calc(1.6rem + 1.7vw);
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: opacity .4s;
                cursor: pointer;

                &:hover {
                    opacity: .8;
                }

                .checkmark {
                    color: #fff;
                    font-size: 1.2vw;
                }
            }
        }
    }

    #update-theme-button {
        margin: 2.4rem 0 2.0rem;
        padding: 1rem 2.6rem;
        font-size: calc(.8rem + 0.6vw);
        font-weight: 400;
        border: 3px solid #222;
        transition: all .4s;

        &:hover {
            color: #fff;
            background-color: #222;
        }
    }
}